:root {
    --greenMain: #94FFAA;
    --greenDark: #25402B;
    --greenDark2: #4A7F55;
    --greenAlt: #4ac564;
    --greenAlt2: #85E599;
    --greenAlt3: #12FF67;
    --white: #FFFFFF;
}

/* Color Theme Swatches in Hex */
.green-1-1-hex { color: #0DBF4F; }
.green-1-2-hex { color: #098034; }
.green-1-3-hex { color: #12FF67; }
.green-1-4-hex { color: #04401A; }
.green-1-5-hex { color: #10E65E; }

/* Color Theme Swatches in RGBA */
.green-1-1-rgba { color: rgba(13, 191, 79, 1); }
.green-1-2-rgba { color: rgba(8, 128, 52, 1); }
.green-1-3-rgba { color: rgba(17, 255, 103, 1); }
.green-1-4-rgba { color: rgba(4, 63, 26, 1); }
.green-1-5-rgba { color: rgba(16, 230, 93, 1); }

/* Color Theme Swatches in HSLA */
.green-1-1-hsla { color: hsla(142, 87, 40, 1); }
.green-1-2-hsla { color: hsla(141, 86, 26, 1); }
.green-1-3-hsla { color: hsla(141, 100, 53, 1); }
.green-1-4-hsla { color: hsla(142, 88, 13, 1); }
.green-1-5-hsla { color: hsla(141, 86, 48, 1); }




* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(32, 32, 32) !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    color: inherit;
}

a:visited {
    text-decoration: none !important;
    cursor: pointer;
    color: inherit;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 99%;
    height: 90px;
    margin: .5vw .5vw 0vw .5vw;
}

.menu-container .menu-links-right {
    display: flex;
    justify-content: flex-end;
}

.menu-container .menu-links-right .menu-right-section {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

.menu-links-right .menu-right-section a {
    margin-right: 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.menu-links-right .menu-right-section a:hover {
    margin-right: 30px;
    color: var(--greenAlt2);
    text-decoration: none;
    transition: ease 0.3s;
}

.menu-right-section button {
    border: 1px solid var(--greenAlt);
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--greenAlt);
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: ease-out 0.3s;
    color: white;
}

.menu-container .menu-links-left {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.menu-container .menu-links-left a {
    display: flex;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
}

#logo {
    width: 10rem;
}

.menu-right-section button:hover {
    border: 1px solid var(--greenAlt);
    padding: 15px 30px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    color: var(--greenAlt);
}

.main-section {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    width: 100%;
    height: 700px;
}

.main-section-leftside {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section-rightside {
    background-color: transparent;
}

.main-leftside-info {
    width: 70%;
    height: 60%;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
    color: var(--white);
}

.main-leftside-info-title {
    display: flex;
    align-items: center;
}

.main-leftside-info-title h1 {
    font-size: 44px;
}

.main-leftside-info-paragraph {
}

.main-leftside-info-buttons {
    display: flex;
    align-items: center;
}

.main-leftside-info-buttons button {
    width: 200px;
    height: 60px;
    outline: none;
    border: none;
    background-color: var(--greenAlt3);
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.main-leftside-info-buttons button:hover {
    background-color: var(--greenAlt2);
    transition: ease-out 0.3s;
}

.main-leftside-info-buttons h5 {
    padding-left: 5%;
}

.about-information {
    height: 800px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}

.about-information-left {

}

.about-information-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-info-container {
    width: 80%;
    height: 60%;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    color: var(--white);
}

.about-info-subtitle {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--greenAlt);
}

.about-info-title {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-left: 40%;
}

.about-info-paragraph {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;
}