<div class="error-page__container">
	<div class="error-page__content">
		<p
			class="mat-display-4 error-page__title"
			style="margin: 0; font-weight: 500"
		>
			<strong>404</strong>
		</p>
		<p
			class="mat-display-1 error-page__subtitle"
			style="margin: 0; padding-bottom: 20px"
		>
			<strong>Error</strong>
		</p>
		<div style="padding-bottom: 40px; opacity: 50%">
			<p class="error-page__warning">
				<strong>The page you're looking for <i>doesn't exist</i></strong>
			</p>
		</div>
		<a href="/home" id="primary__button" style="padding: 20px 40px">Go Home</a>
	</div>
</div>
