.match-parent {
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
}

.marker {
	background-image: url('../../../../assets/vectors/aerial-truck.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}
