.dashboard-container {
	padding: 50px 100px;
	.userBar {
		width: 100%;
		.profile {
			width: 100%;
			display: flex;
			text-align: end;
			flex-direction: row;
			align-items: center;
			justify-content: end;
			.userName {
				text-align: end;
				p {
					margin: 0;
				}
			}
			img {
				width: 50px;
				height: 50px;
				margin-left: 24px;
			}
		}
	}
	.welcomeUser {
		margin: 20px 0;
		p {
			margin: 0;
		}
	}

	.truck-container {
		margin: 50px 0;
		.tracker__content {
			.tracker__aside {
				width: 100%;
				max-width: 100%;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				gap: 20px;

				.tracker__truck__card {
					width: 100%;
					max-width: 415px;
					display: grid;
					grid-template-rows: 1fr;
					grid-template-columns: 1fr;
					padding: 3em 3.5em;
					background-color: white;
					box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
					border: none;
					border-radius: 30px;

					@media (min-width: 600px) {
						max-width: 500px;
						grid-template-rows: 1fr;
						grid-template-columns: 1fr 1fr;
					}

					@media (min-width: 750px) {
						padding: 3em 3.5em;
					}

					@media (min-width: 900px) {
						max-width: 370px;
					}

					@media (min-width: 1100px) {
						max-width: 480px;
					}

					@media (min-width: 1250px) {
						min-width: 450px;
					}

					.truck__vector__container {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;

						@media (min-width: 600px) {
							grid-row: 1;
							grid-column: 2;
						}

						.truck__vector {
							max-width: 80%;

							@media (max-width: 600px) {
								max-width: 70%;
							}
						}
					}

					.truck__info__container {
						width: 100%;

						@media (min-width: 600px) {
							grid-row: 1;
							grid-column: 1;
						}
					}
				}
			}
		}
	}

	.related-container {
		margin: 50px 0;
		.related-content {
			display: flex;
			justify-content: center;
			.related-card {
				width: 100%;
				max-width: 415px;
				padding: 3em 3.5em;
				background-color: white;
				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
				border: none;
				border-radius: 30px;
				height: 100px;
				margin: 10px;
			}
		}
	}

	.sendEmail {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		position: fixed;
		bottom: 70px;
		right: 70px;
		display: grid;
		place-content: center;
		@media (max-width: 750px) {
			position: initial;
			margin: 20px auto;
		}
	}
}
