<div>
	<div class="dashboard-container">
		<div class="row">
			<div class="welcomeUser">
				<p class="mat-display-1">Welcome</p>
				<p class="mat-display-1" ngModel="userName">
					<strong>{{ userName }}!</strong>
				</p>
			</div>
		</div>
		<!-- Your truck section -->
		<div class="row truck-container">
			<div class="tracker__content">
				<p class="mat-h4">Your truck</p>
				<div class="tracker__aside">
					<div class="tracker__truck__card">
						<div class="truck__vector__container">
							<img
								src="../../../../assets/vectors/truck.png"
								alt=""
								class="truck__vector"
							/>
						</div>
						<div class="truck__info__container">
							<h1 class="truck__title"><strong>Truck 1</strong></h1>
							<h3 class="truck__status active__status">
								<strong>Picking up</strong>
							</h3>
							<a href="#"><strong>see the map</strong></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Related section -->
		<div class="related-container">
			<p class="mat-h4">Related</p>
			<div class="row related-content">
				<div class="col-lg-3 col-md-12 col-sm-12 related-card"></div>
				<div class="col-lg-3 col-md-12 col-sm-12 related-card"></div>
				<div class="col-lg-3 col-md-12 col-sm-12 related-card"></div>
			</div>
		</div>
	</div>
</div>
