<div class="container">

	<div class="div-left">

		<img class="side-img"
		src="https://images.unsplash.com/photo-1444084316824-dc26d6657664?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="side-img"/>
	</div>

	<div class="div-right">
		<div class="div-back-arrow">
			<div class="div-left-arrow"><img class="back-arrow" src="https://cdn-icons-png.flaticon.com/512/93/93634.png" alt="back-arrow"></div>
			<div class="div-right-arrow"><mat-label>Go Back</mat-label></div>

		</div>
		<div class="div-label">
			<mat-label class="log-label">Register</mat-label>
		</div>
		<div class="div-login">
			<form >
				<mat-label>Email</mat-label>
				<p>
					<mat-form-field appearance="outline">
						<input matInput placeholder="Enter your email here" required>
						<mat-icon matSuffix></mat-icon>
					</mat-form-field>
				</p>
				<mat-label>Password</mat-label>
				<p>
					<mat-form-field appearance="outline">
						<input matInput placeholder="Enter your password here" required>
					</mat-form-field>
				</p>

				<mat-label class="warning-label">Do not trust your credentials to enyone</mat-label><br>
				<mat-radio-button>I've read I accept the <b>Terms and Conditions</b></mat-radio-button>
				<div class="button-row">
					<button mat-raised-button color="primary" >Sing In</button>
				</div>
			</form>
		</div>

		<div class="div-logo">
			<img class="img-logo" src="../../../../assets/logos/primary_complete.png" alt="logo">
		</div>


	</div>

</div>
