.signin__container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	@media screen and (min-width: 1100px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
}

.bg__aside {
	display: none;

	@media screen and (min-width: 1100px) {
		display: block;
		background-image: url('https://images.unsplash.com/photo-1444084316824-dc26d6657664?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}

.form__aside {
	width: 100%;
	form {
		width: 100%;
		padding: 20px 40px;

		@media screen and (min-width: 600px) {
			padding: 20px 80px;
		}

		@media screen and (min-width: 800px) {
			padding: 20px 150px;
		}

		@media screen and (min-width: 1100px) {
			padding: 20px 80px;
		}

		.formSignin__back {
			display: flex;
			align-items: center;

			span {
				display: flex;
				align-items: center;
				height: 40px;

				&:nth-of-type(2) {
					padding-left: 6px;
				}
			}
		}

		.formSignin__title {
			padding: 40px 0;
			margin-top: 120px;

			p {
				margin: 0;
			}
		}

		.formSignin__field {
			width: 100%;

			.formSignin__input {
				width: 100%;
			}
		}

		.formSignin__button {
			width: 100%;

			button {
				width: 100%;
			}
		}

		.formSignin__logo {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				max-width: 300px;
				min-width: 200px;
			}
		}
	}
}

.img-logo {
	width: 80%;
	height: 80%;
	background-repeat: no-repeat;
	background-size: cover;
}
