footer {
	background-color: rgb(37, 37, 37);
	padding: 100px 90px;

	.footer__container {
		ul {
			padding: 0;
			margin: 0;
			color: white;
			justify-self: start;

			li:not(:first-of-type) {
				padding: 5px 0;
			}
		}
	}

	.footer__notificationCenter {
		color: white;

		.notificationCenter__form {
			display: flex;

			input {
				padding: 3px 30px;
				border: none;
				outline: none;
				border-radius: 20px;
			}

			button {
				padding: 3px 25px;
				border: none;
				margin-left: 10px;
				border-radius: 20px;
			}
		}
	}

	#footer__icon {
		max-width: 130px;
	}
}
