<footer>
	<div class="footer__container container">
		<div class="footer__grid">
			<div class="footer__topside">
				<div class="">
					<ul>
						<li>
							<h2><strong>Explore</strong></h2>
						</li>
						<li>
							<a href="/">Back to home</a>
						</li>
						<li>
							<a href="/about">About us</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>
				<div class="">
					<ul>
						<li>
							<h2><strong>Our project</strong></h2>
						</li>
						<li>
							<a href="/about#members">Members</a>
						</li>
						<li>
							<a href="about">Learn more</a>
						</li>
						<li>
							<a href="/about#deck">Docs and guidelines</a>
						</li>
						<li>
							<a href="/contact">Want to work with us?</a>
						</li>
					</ul>
				</div>
				<div class="">
					<ul>
						<li>
							<h2><strong>Others</strong></h2>
						</li>
						<li>
							<a href="/credits">Credits and materials</a>
						</li>
						<li>+00 0 000 0000</li>
						<li>example@garbler.com</li>
					</ul>
				</div>
				<div class="footer__notificationCenter">
					<div>
						<h2><strong>Recieve our news</strong></h2>
						<form class="notificationCenter__form">
							<input
								placeholder="Enter your email here..."
								class="notificationCenter__input"
							/>
							<button
								id="primary__button"
								style="padding: 12px 40px"
								class="notificationCenter__submit"
							>
								Send
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="footer__bottom">
				<img
					id="footer__icon"
					src="../../../../assets/logos/white_icon.png"
					alt=""
				/>
			</div>
		</div>
	</div>
</footer>
