footer {
	width: 100%;
	background-color: rgb(37, 37, 37);
	padding: 100px 0px;
	margin-top: 150px;

	.footer__container {
		width: 80%;
		max-width: 100%;

		ul {
			padding: 0;
			margin: 0;
			color: white;
			justify-self: start;

			li:not(:first-of-type) {
				padding: 5px 0;
			}
		}

		.footer__grid {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;

			.footer__topside {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-row: 1;

				@media (max-width: 1500px) {
					grid-template-columns: 1fr 1fr;
					text-align: center;
				}

				@media (max-width: 750px) {
					grid-template-columns: 1fr;
					text-align: center;
				}

				div {
					margin-bottom: 50px;
				}
			}

			.footer__bottom {
				grid-row: 2;
				text-align: center;

				@media (min-width: 750px) {
					margin-top: 50px;
				}

				@media (min-width: 1500px) {
					text-align: end;
				}

				#footer__icon {
					max-width: 100px;
				}
			}
		}
	}

	.footer__notificationCenter {
		color: white;

		.notificationCenter__form {
			width: 100%;
			max-width: 100%;
			display: flex;
			justify-content: start;

			@media (max-width: 450px) {
				justify-content: center;
				flex-direction: column;

				.notificationCenter__input {
					display: block;
					height: 30px;
					padding: 3px 30px;
				}

				.notificationCenter__submit {
					width: 100%;
					display: block;
					padding: 3px 25px;
					margin: 10px 0 !important;
				}
			}

			@media (max-width: 1500px) {
				justify-content: center;
			}

			.notificationCenter__input {
				padding: 3px 30px;
				border: none;
				outline: none;
				border-radius: 20px;
			}

			.notificationCenter__submit {
				padding: 3px 25px;
				border: none;
				margin-left: 10px;
				border-radius: 20px;
			}
		}
	}
}
