<footer>
	<div class="footer__container container">
		<div class="row footer__grid">
			<div class="footer__topside">
				<div class="">
					<ul>
						<li>
							<h2><strong>Explore</strong></h2>
						</li>
						<li>Back to top</li>
						<li>About us</li>
						<li>Tracking</li>
						<li>Contact</li>
					</ul>
				</div>
				<div class="">
					<ul>
						<li>
							<h2><strong>Our project</strong></h2>
						</li>
						<li>Members</li>
						<li>Learn more</li>
						<li>Docs and guidelines</li>
						<li>Want to work with us?</li>
					</ul>
				</div>
				<div class="">
					<ul>
						<li>
							<h2><strong>Others</strong></h2>
						</li>
						<li>Credits and materials</li>
						<li>+00 0 000 0000</li>
						<li>example@garbler.com</li>
					</ul>
				</div>
				<div class="footer__notificationCenter">
					<div>
						<h2><strong>Recieve our news</strong></h2>
						<form class="notificationCenter__form">
							<input placeholder="Enter your email here..." />
							<button mat-raised-button color="primary">Send</button>
						</form>
					</div>
				</div>
			</div>
			<div class="footer__bottom">
				<img
					id="footer__icon"
					src="../../../../assets/logos/white_icon.png"
					alt=""
				/>
			</div>
		</div>
	</div>
</footer>
