<div>
	<div class="tracker__container">
		<div class="tracker__content">
			<div class="tracker__aside">
				<div class="tracker__truck__card">
					<div class="truck__vector__container">
						<img
							src="../../../../assets/vectors/truck.png"
							alt=""
							class="truck__vector"
						/>
					</div>
					<div class="truck__info__container">
						<h1 class="truck__title"><strong>Truck 1</strong></h1>
						<h3 class="truck__status active__status">
							<strong>Picking up</strong>
						</h3>
						<p>Do you want to receive notifications about this truck?</p>
						<a href="#"><strong>Log in</strong></a>
					</div>
				</div>
				<div class="tracker__truck__card">
					<div class="truck__vector__container">
						<img
							src="../../../../assets/vectors/truck.png"
							alt=""
							class="truck__vector"
						/>
					</div>
					<div class="truck__info__container">
						<h1 class="truck__title"><strong>Truck 2</strong></h1>
						<h3 class="truck__status warning__status">
							<strong>On Delay</strong>
						</h3>
						<p>Do you want to receive notifications about this truck?</p>
						<a href="#"><strong>Log in</strong></a>
					</div>
				</div>
				<div class="tracker__truck__card">
					<div class="truck__vector__container">
						<img
							src="../../../../assets/vectors/truck.png"
							alt=""
							class="truck__vector"
						/>
					</div>
					<div class="truck__info__container">
						<h1 class="truck__title"><strong>Truck 3</strong></h1>
						<h3 class="truck__status active__status">
							<strong>Picking up</strong>
						</h3>
						<p>Do you want to receive notifications about this truck?</p>
						<a href="#"><strong>Log in</strong></a>
					</div>
				</div>
			</div>
			<div class="tracker__map">
				<app-map></app-map>
			</div>
		</div>
	</div>
</div>
