.example-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.example-is-mobile .example-toolbar {
	position: fixed;
	/* Make sure the toolbar will stay on top of the content as it scrolls past. */
	z-index: 2;
}

h1.example-app-name {
	margin-left: 8px;
}

.example-sidenav-container {
	/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
	flex: 1;
}

.example-is-mobile .example-sidenav-container {
	/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
	flex: 1 0 auto;
}

mat-toolbar {
	background-color: #262626;
	color: #ffff;
	justify-content: space-between;
	display: none;
}

mat-sidenav {
	width: 400px;
	text-align: center;
	margin-right: 16px;
	background-color: #262626;
	color: #ffff;
}

.list {
	height: 97vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: auto 0;
}

.list a:hover {
	color: lightgray;
	cursor: pointer;
}

@media (max-width: 900px) {
	.example-toolbar {
		display: flex;
	}
	.list {
		height: 87vh;
	}
}

.toolbar-container {
	padding: 50px 100px;
	.userBar {
		width: 100%;
		.profile {
			width: 100%;
			display: flex;
			text-align: end;
			flex-direction: row;
			align-items: center;
			justify-content: end;
			.userName {
				text-align: end;
				p {
					margin: 0;
				}
			}
			img {
				width: 50px;
				height: 50px;
				margin-left: 24px;
			}
		}
	}
	.welcomeUser {
		margin: 20px 0;
		p {
			margin: 0;
		}
	}
	.sendEmail {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		position: fixed;
		bottom: 70px;
		right: 70px;
		display: grid;
		place-content: center;
		@media (max-width: 750px) {
			position: initial;
			margin: 20px auto;
		}
	}
	@media (max-width: 500px) {
		padding: 20px;
	}
}
