<div class="row container">
    <div class="col-lg-6 col-md-12 left-side">
      <div class="box left-side__content">
				<h1 class="mat-display-3"><strong>Even more than you can imagine</strong></h1>
				<p class="mat-h1">Garbler is not just a project, is an impact</p>
				<p class="mat-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem saepe harum cumque, culpa architecto doloremque voluptatibus odio sint quos beatae!</p>
				<p class="mat-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem saepe harum cumque, culpa architecto doloremque voluptatibus odio sint quos beatae!</p>
			</div>
    </div>
		<div class="col-lg-6 col-md-12 right-side">
			<div class="box right-side__content">
				<img src="https://images.unsplash.com/photo-1530587191325-3db32d826c18?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374" alt="trash">
				<p class="mat-body">-Image by <a href="#">John Cameron</a> on <a href="#">Unesplash</a></p>
			</div>
	</div>
</div>

<div class="our-team__container">
	<div class="row our-team__header">
		<h1 class="mat-display-3"><strong>Our team</strong></h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, iste? Eveniet quam fuga consequatur tempore facere nemo corporis, architecto eum.</p>
	</div>
	<div class="row teamates">
		<div class="col-xs-12 col-sm-4 col-md-4">
			<div class="box">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Circle_Davys-Grey_Solid.svg/1200px-Circle_Davys-Grey_Solid.svg.png" alt="profile">
				<p class="mat-h2"><strong>Angel Lopez</strong></p>
				<p>CEO/Founder</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<div class="box">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Circle_Davys-Grey_Solid.svg/1200px-Circle_Davys-Grey_Solid.svg.png" alt="profile">
				<p class="mat-h2"><strong>Carlos Sanchez</strong></p>
				<p>Frontend Lead</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<div class="box">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Circle_Davys-Grey_Solid.svg/1200px-Circle_Davys-Grey_Solid.svg.png" alt="profile">
				<p class="mat-h2"><strong>Jonathan Ocampo</strong></p>
				<p>Networks Lead</p>
			</div>
		</div>
	</div>
</div>

<div class="row our-story__container">
	<div class="box">
		<h1 class="mat-display-3"><strong>Our story</strong></h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nesciunt voluptatem nulla reiciendis optio voluptatum est impedit, aliquid architecto molestias.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nesciunt voluptatem nulla reiciendis optio voluptatum est impedit, aliquid architecto molestias.</p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae adipisci harum obcaecati, praesentium placeat molestias quae perspiciatis similique porro unde reprehenderit quis magni earum temporibus!</p>
	</div>
</div>

<div class="values__container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-6 mision-container">
			<div class="row">
				<div class="box mision">
					<h1>Mision</h1>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, rerum ipsam repudiandae illum asperiores est dolore accusamus necessitatibus aut totam ducimus sequi repellendus soluta odit deserunt harum excepturi eligendi rem.</p>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, rerum ipsam repudiandae illum asperiores est dolore accusamus necessitatibus aut totam ducimus sequi repellendus soluta odit deserunt harum excepturi eligendi rem.</p>
				</div>
			</div>
			<div class="row">
				<div class="box space"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-6 vision-container">
			<div class="row">
				<div class="box space"></div>
			</div>
			<div class="row">
				<div class="box vision">
					<h1>Vision</h1>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, rerum ipsam repudiandae illum asperiores est dolore accusamus necessitatibus aut totam ducimus sequi repellendus soluta odit deserunt harum excepturi eligendi rem.</p>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, rerum ipsam repudiandae illum asperiores est dolore accusamus necessitatibus aut totam ducimus sequi repellendus soluta odit deserunt harum excepturi eligendi rem.</p>
				</div>
			</div>
		</div>
	</div>
</div>
