<div class="row container">
    <div class="col-md-6 left-side">
      <div class="box left-side__content">
				<p class="mat-display-3">Even more than you can imagine</p>
				<p class="mat-h1">Garbler is not just a project, is an impact</p>
				<p class="mat-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem saepe harum cumque, culpa architecto doloremque voluptatibus odio sint quos beatae!</p>
				<p class="mat-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem saepe harum cumque, culpa architecto doloremque voluptatibus odio sint quos beatae!</p>
			</div>
    </div>
		<div class="col-md-6 right-side">
			<div class="box right-side__content">
				<img src="https://images.unsplash.com/photo-1530587191325-3db32d826c18?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374" alt="trash">
				<p class="mat-body">-Image by <a href="#">John Cameron</a> on <a href="#">Unesplash</a></p>
			</div>
	</div>
</div>

<div class="our-team__container">
	<div class="row our-team__header">
		<p>Our team</p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, iste? Eveniet quam fuga consequatur tempore facere nemo corporis, architecto eum.</p>
	</div>
	<div class="row teamates">
		<div class="box col-md-4">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Circle_Davys-Grey_Solid.svg/1200px-Circle_Davys-Grey_Solid.svg.png" alt="">
			<p>Angel Lopez</p>
			<p>CEO/Founder</p>
		</div>
		<div class="box col-md-4">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Circle_Davys-Grey_Solid.svg/1200px-Circle_Davys-Grey_Solid.svg.png" alt="">
			<p>Carlos Sanchez</p>
			<p>Frontend Lead</p>
		</div>
		<div class="box col-md-4">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Circle_Davys-Grey_Solid.svg/1200px-Circle_Davys-Grey_Solid.svg.png" alt="">
			<p>Jonathan Ocampo</p>
			<p>Networks Lead</p>
		</div>
	</div>
</div>

<div class="our-story__container">
	<h1>Our story</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nesciunt voluptatem nulla reiciendis optio voluptatum est impedit, aliquid architecto molestias.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nesciunt voluptatem nulla reiciendis optio voluptatum est impedit, aliquid architecto molestias.</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae adipisci harum obcaecati, praesentium placeat molestias quae perspiciatis similique porro unde reprehenderit quis magni earum temporibus!</p>
</div>


