.container{
	width: 90%;
	margin: 50px auto;
	.left-slide{
		width: 50%;
		.left-slide__content{
			p:nth-child(1){
				font-weight: bold;
			}
		}
	}
	.right-side{
		.right-side__content{
			color: rgba(38, 38, 38, 0.5);
			img{
				width: 100%;
			}
			p{
				text-align: right;
				font-weight: bold;
				margin: 10px;
				a{
					color:rgba(38, 38, 38, 0.5);
				}
			}
		}
	}
}

.our-team__container{
	width: 70%;
	margin: 120px auto;
	text-align: center;
	.our-team__header{
		margin: 24px auto;
		width: 80%;
		justify-content: center;
	}
	.teamates{
		img{
			width: 100px;
		}
	}
}

.our-story__container{
	width: 70%;
	margin: 50px auto;
	text-align: center;
}

.values__container{
	color: white;
	width: 90%;
	margin: 0 auto;
	.mision-container{
		
		.mision{
			background-color: #262626;
			padding: 40px;
		}
	}

	.vision-container{
		
		.vision{
			background-color: #5A5A5A;
			padding: 40px;
		}
	}

	.space{
		height: 100px;
		width: 100%;
	}

	@media (max-width: 768px) {
		.space{
			display: none;
		}
	}
}