.container{
	.left-slide{
		.left-slide__content{
			p:nth-child(1){
				font-weight: bold;
			}
		}
	}
	.right-side{
		.right-side__content{
			img{
				width: 100%;

			}
		}
	}
}

.our-team__container{
	width: 70%;
	margin: 20px auto;
	text-align: center;
	.our-team__header{
		padding: 0 100px;
		p{
			margin: 0 auto;
		}
	}
	.teamates{
		img{
			width: 100px;
		}
	}
}
