<div class="">
	<div class="form__container">
		<form [formGroup]="data" action="#">
			<div>
				<h1 class="mat-display-3"><strong>Contact us</strong></h1>
				<p class="mat-body">For business or personal reasons.</p>
			</div>
			<div class="inputs-secion">
				<mat-form-field appearance="outline" class="input">
					<mat-label>Title (the reason of this message)</mat-label>
					<input
						matInput
						placeholder="Enter your title here"
						[formControl]="subject"
						required
						minlength="5"
						formControlName="subject"
					/>
					<mat-error *ngIf="subject.invalid">{{
						getErrorSubjectMessage()
					}}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="input">
					<mat-label>Enter your email</mat-label>
					<input
						matInput
						placeholder="pat@example.com"
						[formControl]="email"
						required
						formControlName="email"
					/>
					<mat-error *ngIf="email.invalid">{{
						getErrorEmailMessage()
					}}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="input">
					<mat-label>Enter your name</mat-label>
					<input
						matInput
						placeholder="John Smith"
						[formControl]="name"
						required
						minlength="4"
						formControlName="name"
					/>
					<mat-error *ngIf="name.invalid">{{
						getErrorNameMessage()
					}}</mat-error>
				</mat-form-field>
				<mat-form-field class="input" appearance="outline">
					<mat-label>Message</mat-label>
					<textarea
						[formControl]="text"
						required
						minlength="20"
						matInput
						placeholder="Enter your message here"
						rows="5"
						max
						class="input"
						formControlName="msg"
					></textarea>
					<mat-error *ngIf="text.invalid">{{
						getErrorTextMessage()
					}}</mat-error>
				</mat-form-field>
				<div class="submit-button">
					<button id="primary__button" class="send" (click)="sendEmail()">
						<strong>Send</strong>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
