<div class="">
	<div class="form__container">
		<form [formGroup]="data" (submit)="sendEmail($event)">
			<div>
				<h1 class="mat-display-3"><strong>Contact us</strong></h1>
				<p class="mat-body">For business or personal reasons.</p>
			</div>
			<div class="inputs-secion">
				<mat-form-field appearance="outline" class="input">
					<mat-label>Title (the reason of this message)</mat-label>
					<input
						matInput
						placeholder="Enter your title here"
						required
						minlength="5"
						name="subject"
						formControlName="subject"
					/>
				</mat-form-field>
				<mat-form-field appearance="outline" class="input">
					<mat-label>Enter your email</mat-label>
					<input
						matInput
						placeholder="pat@example.com"
						required
						name="email"
						formControlName="email"
					/>
				</mat-form-field>
				<mat-form-field appearance="outline" class="input">
					<mat-label>Enter your name</mat-label>
					<input
						matInput
						placeholder="John Smith"
						required
						minlength="4"
						name="name"
						formControlName="name"
					/>
				</mat-form-field>
				<mat-form-field class="input" appearance="outline">
					<mat-label>Message</mat-label>
					<textarea
						required
						minlength="20"
						matInput
						placeholder="Enter your message here"
						rows="5"
						max
						class="input"
						name="msg"
						formControlName="msg"
					></textarea>
				</mat-form-field>
				<div class="submit-button">
					<button type="submit" class="send">
						<strong>Send</strong>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
