<div>
	<div class="container-fluid">
		<div class="container-fluid">
			<div class="main__container">
				<div class="main__desc">
					<h1 class="mat-display-3 main__title">
						<strong>Start tracking your truck.</strong>
					</h1>
					<h3>And be connected with others</h3>
					<p>
						varius sit Nam cursus laoreet eget in quam ultrices vitae nec
						Vestibulum fringilla consectetur placerat Vestibulum faucibus risus
						Ut Praesent elit quis at vel
					</p>
					<div class="main__btn">
						<a routerLink="/signup" id="primary__button"
							><strong>Start now</strong></a
						>
					</div>
					<p class="main__info">
						urna. Morbi tincidunt hendrerit Donec ex hendrerit efficitur. Lorem
						hendrerit quam enim. non fringilla lorem. amet, Nam nec libero, dui.
						massa nec Ut nec elit.
					</p>
				</div>
				<div class="main__vector">
					<img
						src="../../../../assets/vectors/vector-1.png"
						alt=""
						class="main__vector__img"
					/>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="container-fluid">
			<div class="whatis__container">
				<div class="whatis__vector">
					<img
						src="../../../../assets/vectors/truck-gps.png"
						alt=""
						class="whatis__vector__img"
					/>
				</div>
				<div class="whatis__aside">
					<h1 class="mat-display-2 whatis__title">
						<strong>What is Garbler?</strong>
					</h1>
					<h1 class="whatis__subtitle">Know more about our project</h1>
					<p>
						odio vitae non enim. sodales. quis venenatis scelerisque dolor
						convallis. ex. adipiscing vitae hendrerit venenatis Lorem tincidunt
						at In elit elit libero, Vestibulum ullamcorper quis ex tincidunt
						urna lobortis, laoreet ex. lorem. luctus id cursus Ut Sed sodales.
						varius tincidunt turpis nulla, viverra enim. nisi elit facilisis.
					</p>
					<p>
						Praesent turpis Donec Donec viverra Lorem sollicitudin. nulla,
						tincidunt convallis. sit tincidunt nec vitae Donec ipsum faucibus
						diam nec Ut varius tortor. convallis. id vel tincidunt tincidunt
						lobortis, risus nec scelerisque Ut luctus Vestibulum sapien dui
						tempor non, ipsum Nam cursus vehicula, Nullam placerat laoreet urna
						urna non. tortor. Nunc eget id venenatis elit Quisque lorem.
					</p>
					<div class="whatis__button">
						<a routerLink="/signup" id="primary__button"
							><strong>Explore more</strong></a
						>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="container-fluid">
			<div class="how__container">
				<div class="how__title">
					<h1 class="mat-display-2"><strong>How it works?</strong></h1>
				</div>
				<div class="how__steps">
					<div class="how__step">
						<img
							src="../../../../assets/vectors/step1.png"
							alt=""
							class="step__vector"
						/>
						<div>
							<h1><strong>1. Just sign up</strong></h1>
							<p>
								varius sit Nam cursus laoreet eget in quam ultrices vitae nec
								Vestibulum fringilla consectetur placerat Vestibulum faucibus
								risus Ut Praesent elit quis at vel
							</p>
						</div>
					</div>
					<div class="how__step">
						<img
							src="../../../../assets/vectors/step2.png"
							alt=""
							class="step__vector"
						/>
						<div>
							<h1><strong>2. Select your district</strong></h1>
							<p>
								varius sit Nam cursus laoreet eget in quam ultrices vitae nec
								Vestibulum fringilla consectetur placerat Vestibulum faucibus
								risus Ut Praesent elit quis at vel
							</p>
						</div>
					</div>
					<div class="how__step">
						<img
							src="../../../../assets/vectors/step3.png"
							alt=""
							class="step__vector"
						/>
						<div>
							<h1><strong>3. Start tracking!</strong></h1>
							<p>
								varius sit Nam cursus laoreet eget in quam ultrices vitae nec
								Vestibulum fringilla consectetur placerat Vestibulum faucibus
								risus Ut Praesent elit quis at vel
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="info__banner">
		<h1 class="mat-display-1"><strong>Need more information?</strong></h1>
		<div class="banner__contact__btn">
			<a routerLink="/contact" id="primary__button"
				><strong>Contact us</strong></a
			>
		</div>
	</div>

	<div class="container-fluid">
		<div class="container-fluid">
			<div class="connected__container">
				<div class="connected__aside">
					<h1 class="mat-display-2 connected__title">
						<strong>Connecting the city</strong>
					</h1>
					<h1 class="connected__subtitle">
						Check your district if it's supported
					</h1>
					<p>
						odio vitae non enim. sodales. quis venenatis scelerisque dolor
						convallis. ex. adipiscing vitae hendrerit venenatis Lorem tincidunt
						at In elit elit libero, Vestibulum ullamcorper quis ex tincidunt
						urna lobortis, laoreet ex. lorem. luctus id cursus Ut Sed sodales.
						varius tincidunt turpis nulla, viverra enim. nisi elit facilisis.
					</p>
					<p>
						Praesent turpis Donec Donec viverra Lorem sollicitudin. nulla,
						tincidunt convallis. sit tincidunt nec vitae Donec ipsum faucibus
						diam nec Ut varius tortor. convallis. id vel tincidunt tincidunt
						lobortis, risus nec scelerisque Ut luctus Vestibulum sapien dui
						tempor non, ipsum Nam cursus vehicula, Nullam placerat laoreet urna
						urna non. tortor. Nunc eget id venenatis elit Quisque lorem.
					</p>
				</div>
				<div class="connected__vector">
					<img
						src="../../../../assets/vectors/map.png"
						alt=""
						class="connected__vector__img"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
