<div class="container-fluid">
	<div class="main__container">
		<div class="main__desc">
			<h1 class="mat-display-3 main__title">
				<strong>Start tracking your truck.</strong>
			</h1>
			<h3>And be connected with others</h3>
			<p>
				varius sit Nam cursus laoreet eget in quam ultrices vitae nec Vestibulum
				fringilla consectetur placerat Vestibulum faucibus risus Ut Praesent
				elit quis at vel
			</p>
			<div class="main__btn">
				<a
					routerLink="/signup"
					routerLinkActive="active"
					id="primary__button"
					class="header-link"
					><strong>Start now</strong></a
				>
			</div>
			<p class="main__info">
				urna. Morbi tincidunt hendrerit Donec ex hendrerit efficitur. Lorem
				hendrerit quam enim. non fringilla lorem. amet, Nam nec libero, dui.
				massa nec Ut nec elit.
			</p>
		</div>
		<div class="main__vector">
			<img
				src="../../../../assets/vectors/vector-1.png"
				alt=""
				class="main__vector__img"
			/>
		</div>
	</div>
	<div class="how__container">
		<div class="how__title">
			<h1 class="mat-display-2"><strong>How it works?</strong></h1>
		</div>
		<div class="how__steps">
			<div class="how__step">
				<img
					src="../../../../assets/vectors/step1.png"
					alt=""
					class="step__vector"
				/>
				<div>
					<h1><strong>1. Just sign up</strong></h1>
					<p>
						varius sit Nam cursus laoreet eget in quam ultrices vitae nec
						Vestibulum fringilla consectetur placerat Vestibulum faucibus risus
						Ut Praesent elit quis at vel
					</p>
				</div>
			</div>
			<div class="how__step">
				<img
					src="../../../../assets/vectors/step2.png"
					alt=""
					class="step__vector"
				/>
				<div>
					<h1><strong>2. Select your district</strong></h1>
					<p>
						varius sit Nam cursus laoreet eget in quam ultrices vitae nec
						Vestibulum fringilla consectetur placerat Vestibulum faucibus risus
						Ut Praesent elit quis at vel
					</p>
				</div>
			</div>
			<div class="how__step">
				<img
					src="../../../../assets/vectors/step3.png"
					alt=""
					class="step__vector"
				/>
				<div>
					<h1><strong>3. Start tracking!</strong></h1>
					<p>
						varius sit Nam cursus laoreet eget in quam ultrices vitae nec
						Vestibulum fringilla consectetur placerat Vestibulum faucibus risus
						Ut Praesent elit quis at vel
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
