<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6">
			<mat-chip-list aria-label="Fish selection">
				<mat-chip>One fish</mat-chip>
				<mat-chip>Two fish</mat-chip>
				<mat-chip color="primary" selected>Primary fish</mat-chip>
				<mat-chip color="accent" selected>Accent fish</mat-chip>
			</mat-chip-list>
		</div>
		<div class="col-xs-6"><h1 class="display-1">home works!!</h1></div>
	</div>
</div>
