/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';

html,
body {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	padding: 0;
	margin: 0;

	&:visited {
		color: inherit;
	}
}

h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
}

// @media only screen and (min-width: 48em) {
// 	.container {
// 		width: 46rem !important;
// 	}
// }
// @media only screen and (min-width: 62em) {
// 	.container {
// 		width: 71rem !important;
// 	}
// }
// @media only screen and (min-width: 75em) {
// 	.container {
// 		width: 90rem !important;
// 	}
// }
