/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';

html,
body {
	height: 100%;
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	padding: 0;
	margin: 0;
	color: inherit;
	transition: ease-in-out 0.2s;

	&:visited {
		color: inherit;
	}

	&:hover {
		color: #93b77b;
	}
}

h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
}

#primary__button {
	background-color: #688f4e;
	padding: 15px 50px;
	text-align: center;
	border: none;
	border-radius: 50px;
	color: white;
	transition: ease-out 0.3s;

	&:hover {
		background-color: #88aa71;
	}
}

// @media only screen and (min-width: 48em) {
// 	.container {
// 		width: 46rem !important;
// 	}
// }
// @media only screen and (min-width: 62em) {
// 	.container {
// 		width: 71rem !important;
// 	}
// }
// @media only screen and (min-width: 75em) {
// 	.container {
// 		width: 90rem !important;
// 	}
// }
