/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';

html,
body {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	padding: 0;
	margin: 0;
	color: inherit;
	transition: ease-in-out 0.2s;

	&:visited {
		color: inherit;
	}

	&:hover {
		color: #93b77b;
	}
}

h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
}

#info__banner {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #262626;
	color: white;
	padding: 70px 60px;

	h1 {
		margin: 0;
		padding: 0;
	}

	.banner__contact__btn {
		font-size: 1.3em;
	}

	@media (max-width: 900px) {
		justify-content: center;

		h1 {
			display: none;
		}
	}
}

#primary__button {
	background-color: #688f4e;
	padding: 15px 50px;
	text-align: center;
	border: none;
	border-radius: 50px;
	color: white;
	transition: ease-out 0.3s;

	&:hover {
		background-color: #88aa71;
	}
}
