// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$garbler-primary-palette: (
	50: #DEE9D8,
	100: #C8DBBD,
	200: #BED4B0,
	300: #B3CCA3,
	400: #A9C596,
	500: #9EBE89,
	600: #93B77B,
	700: #88AF6E,
	800: #739E57,
	900: #688F4E,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	)
);

$garbler-secundary-palette: (
	50: #81B181,
	100: #74AA74,
	200: #67A267,
	300: #5D985D,
	400: #558B55,
	500: #4E7E4E,
	600: #467247,
	700: #3E653F,
	800: #365937,
	900: #2B462C,
	contrast: (
		50: #000000,
		100: #eeeaea,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	)
);

$garbler-primary: mat.define-palette($garbler-primary-palette, 900);
$garbler-secundary: mat.define-palette($garbler-secundary-palette, 900);
$garbler-warn: mat.define-palette(mat.$red-palette, 400);

// Specify Comic Sans as the default font family for all levels
$garbler-typography: mat.define-typography-config(
	$font-family: 'Poppins',
	$display-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 40px, 400),
  $headline:  mat.define-typography-level(24px, 32px, 400),
	$title: mat.define-typography-level(20px, 27px, 400),
	$subheading-1: mat.define-typography-level(15px, 17px, 400),
	$subheading-2: mat.define-typography-level(16px, 21px, 500),
	$body-1: mat.define-typography-level(13px, 21px, 300),
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$garbler-theme: mat.define-light-theme((
  color: (
    primary: $garbler-primary,
    accent: $garbler-secundary,
    warn: $garbler-warn
  ),
	typography: $garbler-typography
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core($garbler-typography);
@include mat.all-component-themes($garbler-theme);
